# Build outputs & framework caches
dist/
.astro/
.wrangler/

# Third-party dependencies
node_modules/

# Logs
*.log

# Temporary files
tmp/*
!tmp/.gitkeep

# Environment variables & local secrets
.env
.env.*
.dev.vars

# TypeScript cache
*.tsbuildinfo

# Operating system metadata
.DS_Store
Thumbs.db
ehthumbs.db
[Dd]esktop.ini

# Editor & IDE configurations
.vscode/*
!.vscode/extensions.json
